*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.section1{
    padding-left: 260px;
    margin-right: 10px;
    padding-top: 10px;
}

.section2{
    padding-left: 260px;
    margin-right: 10px;
    padding-top: 0;
}

.section3{
    padding-left: 270px;
    padding-right: 10px;
    padding-top: 0;
    margin-top: 0;
}

